.header-style-four .main-menu .navigation > li > a { color: #000000; padding: 25px 0px; }
.logo { padding: 13px 0; }
.header-style-four .main-menu .navigation > li:after{ display: none; }
.header-style-four .main-menu .navigation > li > ul h2 { font-size: 16px; padding: 15px; background-color: #eee; font-weight: 600; }
.main-menu .navigation > li > ul{ width: 280px; }
.break-line{ display: block !important; }

.search-box { padding: 0; margin: 70px 0 20px 0; position: relative; width: 50%; transition-delay: 2000ms; 
    .form-control { border: 1px solid #B28D5C; background-color: transparent; min-height: 49px; border-radius: 100px; font-size: 16px; padding: 0 25px; }
    .form-control::-webkit-input-placeholder {  color: #B28D5C; }
    .form-control::-moz-placeholder {  color: #B28D5C; }
    .form-control:-ms-input-placeholder {  color: #B28D5C; }
    .form-control:-moz-placeholder {  color: #B28D5C; }
}
.btn-search { background-color: rgba(178, 141, 92, 0.6); border: 1px solid #B28D5C; min-height: 49px; border-radius: 100px; font-size: 16px; padding: 0 25px; color: #fff; position: absolute; top: 0; right: 0; transition: all 0.8s; }
.btn-search:hover{ background-color: rgba(178, 141, 92, 1); }

.grid-20 {
    flex: 0 0 20%;
    max-width: 20%;
}

.packages-section{ padding: 95px 0 75px 0;  margin: 0; position: relative;  background-color: #F2F2F2;

    .sec-title-two {
        text-align: center; max-width: 990px; margin: 0 auto 60px auto;
        h2{ margin:0 0 30px 0; }
        p { font-size: 16px; color: #000000; letter-spacing: 0; text-align: center; line-height: 29px; }
    }
    
    .auto-container { max-width: 1300px; }

    .packages-box {
        width: 100%; background: #FFFFFF; box-shadow: 0 4px 14px 0 rgba(0,0,0,0.10); padding: 20px 15px; margin: 0 0 20px 0;
        h3 { font-size: 21px; color: #000000; letter-spacing: 0; text-align: center; line-height: 30px; font-weight: 600; padding: 20px 5px 30px 5px; border-bottom: 1px solid rgba(0,0,0,0.06); min-height: 111px; }
        h2 { font-size: 30px; color: #B28D5C; letter-spacing: 0; text-align: center; line-height: 36px; padding: 20px 0; border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
        .desc-list { padding: 30px 0; min-height: 280px;
            li { font-size: 13px; color: #000000; letter-spacing: 0; line-height: 20px; padding: 0 0 0 20px; margin: 0 0 15px 0; position: relative;
                &::before{ content: ""; height: 10px; width: 10px; border: 1px solid #B28D5C; display: flex; border-radius: 100%; position: absolute; left: 0; top: 5px; }
            }
        }
        .bottom-sumbit { display: flex; flex-direction: column; width: 100%; text-align: center;
        }
        .theme-btn { background: #B28D5C; border: 1px solid #B28D5C; font-weight: 700;
            &:hover, &:focus{
                background: transparent;
            }
        }
        a.link { font-size: 16px; color: #000000; letter-spacing: 0; line-height: 30px; font-style: italic; margin: 0 0 5px 0; transition: all 0.8s;
            &:hover, &:focus{
                color: #B28D5C;
            }
        }
    }

}

.about-section .content-column .question{ border-bottom:none; }

.services-block-eleven .inner-box .icon-box { display: flex; align-items: center; justify-content: center; }
.services-block-eleven { min-height: 170px; }

.pb-95{ padding-bottom: 95px; }

.news-section .news-block-two { margin-bottom: 40px; }

.main-footer.style-two { overflow: hidden; }
.main-footer.style-two:after { background: url(../images/hawkish-shape.png) no-repeat; background-size: contain; background-position-x: right; margin: 35px 10px; height: 70%; max-height: 470px; }

.steps-section{
    padding: 95px 0px 95px 0; 

    .sec-title-two .title { font-size: 12px; color: rgba(255, 255, 255, 0.5); }
    .sec-title-two h2 span { color: #B28D5C; }

    .step-box {
        margin-top: 40px; margin-bottom: 40px; text-align: center; transition: all 0.8s;
        &::before{ content: ""; position: absolute; left: 222px; top: 82px; right: 0px; z-index: 2; width: 155px; border: 1px dashed rgba(151, 151, 151, 0.65);}
        &:hover{ 
            .step-number {
                border: 1px solid #fff !important;
            }
         }
        .step-number { display: block; width: 85px; height: 85px; margin-right: auto; margin-bottom: 20px; margin-left: auto; padding: 20px; border: 1px solid rgba(255, 255, 255, 0.4); border-radius: 100%; color: #fff; font-size: 36px; line-height: 40px; transition: border 0.8s; }
        .step-p { font-size: 20px; color: #FFFFFF; letter-spacing: 0; text-align: center; line-height: 32px; font-weight: 300; margin: 0 0 10px 0; }
        .text-desc { font-size: 14px; color: rgba(255, 255, 255, 0.5); letter-spacing: 0; text-align: center; line-height: 24px; font-weight: 300; }
    }

    .steps-block-two:last-child{
        .step-box::before{
            display: none;
        }
    }

}

.faq-section{
    padding: 95px 0px 95px 0;  background-color: #fff;
}

/* faq */

.accordion-faq {
    .accordion{
        .card:not(:first-of-type):not(:last-of-type) {
            border-radius: 6px;
        }
        .card{
            margin-bottom: 20px; border: 0px solid #C7C7C7; background: #FFFFFF; box-shadow: 0 4px 14px 0 rgba(0,0,0,0.10); border-radius: 6px;
            .show {
                .card-body{
                    border-bottom: 0px solid #C7C7C7; border-color:rgba(0, 0, 0, 0.1); padding: 20px; 
                }
            }
            .card-header{
                margin-bottom: 0; padding: 0; border-color:#C7C7C7;  background-color: #ffffff; border-bottom: 0px solid rgba(0,0,0,.125);  border-radius: 6px;
                    h2 {
                        line-height: 54px; font-weight: 500; border-radius: 6px;
                        .btn-link { font-size: 18px; color: #000000; letter-spacing: -0.1px; font-weight: 400; line-height: 25px; text-decoration: none; padding: 18px 20px 15px 80px; text-align: left; width: 100%; position: relative; word-break: break-word; white-space: normal; border-radius: 6px 6px 0 0px;
                            &.collapsed{
                                border-radius: 6px 0px 0 6px;
                                span { border-radius: 6px 0px 0 6px; }
                                span:before {
                                    content: "\e145";
                                }   
                            }

                            span { 
                                position: absolute; left: -1px; top: -1px; height: calc(100% + 2px); background-color: rgba(178, 141, 92, 0.2); width: 60px; font-size: 22px; color: #303030; display: flex; align-items: center; justify-content: center; border-right: 0px solid #C7C7C7;    border-radius: 6px 0px 0 0px;
                                &:before {
                                    content: "\e15b";
                                }
                            }
                            &:hover, &:focus{
                                
                            }
                        }
                        
                    }
                }

            .card-body{
                border-top: 1px solid rgba(0, 0, 0, 0.05);background: #ffffff;
                p { padding:0; margin:0; font-weight: 400; font-size: 18px; color: #000000; letter-spacing: 0; line-height: 30px; }
            }
        }
    }
}

/* End of faq */

.header-style-white{
    margin-top: 0;
    .header-lower {
        background-color: #fff;
    }    
}

.page-title.mt-80 {
    margin-top: 80px;
}


// aakhil


.blog-grid-section {
    .fa {
        color: #9a7f59 !important;
    }
}
.blog-list-section{
    .fa {
        color: #9a7f59 !important;
    }

    .post-meta {
        li {
            color: #666666 !important;
            font-weight: 600;
        }
    }

    .news-block-four .inner-box .lower-content h5 a {
        &:hover {
            color: #000000;
        }
    }
}

.btn-style-eighteen {
    background-color: #f6f4ee !important;
    &:hover{
     background: #9a7f59 !important; 
    }
}

.styled-pagination{
    li {
        a {            
                color: #000000 !important;
                
            &.active {
                background-color: #9a7f59;
                background: #9a7f59 !important; 
            }


            &:hover {
                background-color: #9a7f59;
                background: #9a7f59 !important; 
            }
        
        }
    }
}

.sidebar-page-container{
    .fa {
        color: #9a7f59 !important;
    }

    .social-links{
        .fa {
            color: #ffffff !important;
        }
    }

    .blog-single .inner-box .lower-content blockquote .quote-icon {
        color: #9a7f59;
    }

    .blog-single .inner-box .lower-content blockquote .quote-text {
        color: #666666;
    }

    .blog-single .post-share-options .post-tags a {
        &:hover {
            background: #9a7f59; 
        }
    }

    .comments-area .comment .comment-reply {
        &:hover {
            background: #9a7f59; 
            .fa{
                color: #ffffff !important;
            }
        }
    }
    .blog-single .inner-box .lower-content .text p {
        color: #666666;
        a {
            color: #000000;
        }
    }

    .group-title h6 {
        color: #000000;

        &:before {
            background-color: #000000; 
        }
    }

     .comments-area .comment-box strong  {
         color: #000000;
     }
     .comments-area .comment-box .texts {
         color: #000000;
     }

     .comment-form .submit-btn {
        background: #9a7f59; 
     }

     .new-posts .prev-post ,.new-posts .next-post{
         &:hover {
             color: #000000;
         }
     }

     .sidebar-title-two h4 {
        color: #000000;
        &::before {
            background-color: #000000;
        }
     }

     .blog-cat-two li a {
         color: #666666;
         &:hover {
             color: #000000;
         }

         &::before {
            background-color: #9a7f59 !important; 
         }
     }

     .popular-posts .post .text a {
         color: #000000;
     }
     .popular-posts .post-info  {
             color:#666666;
             font-weight: 600;
         &::before {
            color: #B28D5C;
         }
     }

     .blog-single .inner-box .lower-content .text h5 {
         color: #000000;
     }

     .blog-single .post-share-options .post-tags span {
        color: #000000;
     }

     .sidebar .instagram-widget .image-box .overlay-box {
        background-color: #B28D5C !important;
    }

    .sidebar .popular-tags a {
        color: #000000;
        &:hover {
            background-color: #B28D5C;
            color: #FFFFFF;
        }
    }
}

.list-style-five li {
    .fa {
        color: #B28D5C;
    }
    color: #000000;
}
.contact-page-section .info-column .inner-column .text {
    color: #000000;
}


.case-block-two .inner-box .lower-content .category {
    color: #666666;
}
.case-block-two .inner-box .lower-content .text {
    color: #666666;
}
.case-block-two .inner-box .lower-content h4 a {
    &:hover {
            color: #B28D5C;
    }
}

.page-title .page-breadcrumb li a{
    &:hover {
        color: #B28D5C;
}
}

.contact-form{
    .theme-btn{
        background: #f6f4ee;
        color: #B28D5C;
        &:hover {
            background: #B28D5C;
            color: #FFFFFF;
        }
    }
}

.contact-info-section{
    .icon {
        color: #B28D5C !important;  
    }
}

.ui-state-active, .ui-widget-content .ui-state-active {
    background-color: #B28D5C;
    border-color: #B28D5C;
}

.btn-style-sixteen {
    background: #f6f4ee;
    background-color: #f6f4ee;
    color: #B28D5C;
    &::before {
        display: none;
    }
    &:hover {
        background: #B28D5C;
        color: #FFFFFF;
    }
}

.portfolio-section-three .filters li {
    &::before {
        background-color: #B28D5C;
    }
    &::after {
        color: #B28D5C;
    }
}

.project-block .inner-box .image .overlay-box {
    &:before {
        background: #B28D5C;
    }
}

.project-block .inner-box .lower-content .designation {
    color: #666666;
}

.project-block .inner-box .lower-content h5 a{
    &:hover {
        color: #000000;
    } 
}

.btn-style-fifteen{
    border: 1px solid #B28D5C;
&:hover {
    background-color: #FFFFFF;
    border: 1px solid #B28D5C;
    color: #B28D5C;
}
}

.project-block .inner-box .lower-content h5 {
   &:hover {
        color: #666666 !important;
   }
}

.project-block-two .inner-box .image .overlay-box:before {
    background: #B28D5C;
}

.portfolio-single-section .content-column .inner-column .text p {
    color: #666666;
}
.portfolio-single-section .content-column .inner-column .project-list li .icon {
    color: #B28D5C;
}

.services-block-fourteen.style-two .inner-box:before {
    background: #B28D5C !important;
}
.services-block-fourteen.style-two .icon-box {
    color: #B28D5C;
}

.services-section-four .sec-title .text {
    color: #666666;
}

.services-block-four .inner-box .image .overlay-box-two {
    background: #B28D5C !important;
}

.services-block-four .inner-box .image .overlay-box-two .icon-box {
    color: #FFFFFF;
}

.services-block-four .inner-box .image .overlay-box-two .read-more {
    color: #FFFFFF;
}
.services-block-four .inner-box .image .overlay-box .content .icon-box {
    color: #FFFFFF;
}
.services-block-four .inner-box .image .overlay-box {
    background: rgba(178, 141, 92, 0.90);
}

.pricing-tabs .tab-btns .tab-btn .save {
    color: #B28D5C;
    background-color: #f6f4ee;
}
.pricing-tabs .tab-btns .tab-btn:hover .circle, .pricing-tabs .tab-btns .tab-btn.active-btn .circle {
    border-color: #B28D5C;
    &::before {
        background-color: #B28D5C;

    }
}
.price-block.style-two .inner-box .price {
    background: #B28D5C;
}

.price-block .inner-box .price-list li:before {
    color: #B28D5C;
}

.btn-style-eight {
    background-color: #FFFFFF;
    border: 1px solid #B28D5C;
    color: #B28D5C;
    &:hover {
        border: 1px solid #B28D5C;
        background-color: #B28D5C;
        color:#FFFFFF;
    }
}

.quote-form button {
    background: #B28D5C;
    border-color: #B28D5C;
}
.quote-form button .icon {
    background: #B28D5C;
}

.services-block-fifteen .inner-box .image .overlay-box {
    &::before {
        background: #B28D5C;
    }
}

.services-block-fifteen .inner-box .lower-content .upper-box .icon {
    -webkit-text-fill-color: #B28D5C;
}

.blog-cat li.active a, .blog-cat li a:hover{
    background: #B28D5C;
    border-color: #B28D5C;
}

.contact-widget ul li .icon {
    -webkit-text-fill-color: #B28D5C;
}
.brochures-widget .files li a:before {
    background: #B28D5C;
}

.services-single .services-gallery .owl-dots .owl-dot:hover, .services-single .services-gallery .owl-dots .owl-dot.active {
    background: #B28D5C;
    border-color: #B28D5C;
}

.services-single .service-tabs .tab-btns .tab-btn:before {
    background: #B28D5C;
}



.services-block-two .inner-box .overlay-box:before{

    background: -webkit-linear-gradient(top,rgba(178, 141, 92,0),rgba(178, 141, 92, 0.90));
    background-image: -webkit-linear-gradient(top, rgba(178, 141, 92, 0), rgba(178, 141, 92, 0.90));
}

.services-block-two .inner-box:hover .overlay-box-two:before {
    background: #B28D5C;
}
.services-block-two .inner-box .image .overlay-box-two:before {
    background: #B28D5C;
}
.btn-style-seventen .icon {
    background: #B28D5C;  
}
.btn-style-seventen{
    color: #B28D5C;  
}

.team-block-two.style-two .inner-box .lower-content:after {
    background: -webkit-linear-gradient(top,rgba(178, 141, 92, 0.50),rgba(178, 141, 92, 0.90));
    background-image: -webkit-linear-gradient(top, rgba(178, 141, 92, 0.50), rgba(178, 141, 92, 0.90));
}


.testimonial-block-five .inner-box:before {
    background-color: #B28D5C;
}

.testimonial-block-five .inner-box:after {
    background-color: #B28D5C;
}
.testimonial-block-five .inner-box h5 {
    color: #B28D5C;
}

.testimonial-block-five .inner-box:hover .quote-icon {
    color: #B28D5C;
}

.testimonial-block-five .inner-box .image-outer:before {
    border:2px solid #B28D5C;
}

.call-to-action-two{
background-color: #222222;
}
.call-to-action-two .btn-style-five {
    background-color: #f6f4ee;
    color: #B28D5C;
    span {
        margin-left: 5px;
    }
    &:hover {
        background-color: #B28D5C;
        color: #ffffff;
    }
}

/* 22-04-2020 **/
/***  Design change  ****/

.quote-form .form-group textarea {     position: relative; display: block; width: 100%; line-height: 28px; padding: 10px 20px; color: #333333; height: 80px; font-size: 15px; border-radius: 4px; background: #ffffff; transition: all 300ms ease;}
.mb-80{ margin-bottom: 80px; }

.background-color01{ background-color: #fafafa; }
.background-color02{ background-color: #fff; }

.services-section-custom{ 
    .inner-box .image img { height: 210px; object-fit: cover; background-color: #fff; }
    .inner-box .lower-content .upper-box h5 {  line-height: 28px; font-size: 18px; padding: 5px 0 5px 0; }
}

.general-content-section{
    padding: 80px 0;

    .blog-single .inner-box { box-shadow: 0px 0px 15px rgba(0,0,0,0.05); }
    .blog-single .inner-box .lower-content { padding: 25px 20px;  background-color: #fff; }
    .blog-single .inner-box .lower-content .text p { color: #666666; }
    .blog-single .inner-box .lower-content h4 { margin: 30px 0 15px 0; }
    
    ul { padding: 0; padding-left: 20px;
        li { list-style: circle;  list-style-position: outside; position: relative; font-size: 16px; line-height: 24px; margin-bottom: 10px; }
    }
}

.sec-title-custom{
    margin-bottom: 0px;
    padding-top: 0px;
     h3 {
        color: #000000;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0px;
        text-transform: lowercase !important;
        position: relative;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ececf0;
        &::first-letter {
            text-transform: uppercase !important;
        }
        &::before{
            position: absolute;
            content: '';
            left: 0px;
            bottom: -1px;
            height: 2px;
            width: 40px;
            background-color: #9a7f59;
        }
    }
}


.portfolio-section-three.filter-custom {
    padding: 0;
    .filters { margin-bottom: 15px; }
    .filters .filter-tabs { position: relative; max-width: 1000px; margin: 0 auto; }
    .filters li {margin: 0px 8px 25px 8px;}
    .filters li a { color: #000; text-transform: capitalize; }
    .filters li.active a { color: #9a7f59; }
}

.search-root-box {
    padding: 20px;
    margin: 0 auto 30px auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    .search-box {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 50%;
        input:focus{ outline: none;box-shadow: none; }
        .btn-search { background-color: #f6f4ee ;
            color: #B28D5C;
            text-transform: capitalize;
            &:hover, &:focus{
                background-color: rgba(178, 141, 92, 1); 
                color: #fff;
            }
        }
    }
}

.sidebar-side .sidebar .sidebar-widget.search-box { width: 100%; margin: 0 0 40px 0; }
.sidebar-page-container .blog-cat-two li a { text-transform: capitalize; }
.general-form {
    .submit-group { margin: 25px 10px; }
    .theme-btn.submit-btn { font-weight: 700; padding: 12px 25px 11px 25px; min-width: 200px; border: 1px solid #9a7f59;
        &:hover{
            color: #9a7f59;
            border: 1px solid #9a7f59;
            background: #fff;
        }
    }
    .form-control[type="number"] {
        position: relative;
        display: block;
        width: 100%;
        line-height: 26px;
        padding: 10px 20px;
        height: 46px;
        font-size: 14px;
        border-radius: 3px;
        border: 1px solid #ececec;
        transition: all 300ms ease;
    }
    .form-control {
        border: 1px solid #ddd ;
        &:focus{
            box-shadow: none;
        }
    }
    .btn-row{
        margin: 20px 0 20px 0;
        a { font-size: 18px; }
    }
}


.header-style-white .outer-container.clearfix {
    padding-left: 0;
    padding-right: 0;
}

.collapse-custom-root{
    margin: 35px 0 0 0;
    .accordion-faq .accordion .card { 
        margin-bottom: 0px; border-bottom: 1px solid #ececf0; background: #FFFFFF; box-shadow: none; border-radius: 0; 
        
        .card-header h2 { line-height: 38px; font-weight: 500; border-radius: 6px; padding: 5px 0; }
        .card-header h2 .btn-link { font-size: 16px; line-height: 20px; padding: 10px 20px 10px 42px; background-color: #fff; border-radius: 0px; color: #000; }
        .card-header h2 .btn-link span { width: auto; padding: 0 10px; background-color: transparent;  }
        .card-header h2 .btn-link.collapsed span { width: auto; padding: 0 8px; background-color: transparent; }
        .card-header h2 .btn-link.collapsed { color: #000; }
        .card-header h2 .btn-link.collapsed span { color: #000; }

        a { font-size: 16px; text-transform: capitalize; padding: 5px 0; line-height: 24px; display: block; color: #9a7f59; 
            &:hover{ color: #000; }
        }
        .card-body { padding: 10px 10px; }

        &:first-child{
            border-top: 1px solid #ececf0;
        }

    }

}

.text-normal{ text-transform: none !important; }

.sidebar-dashboard-side .sidebar .sidebar-widget.search-box {
    width: 100%;
    margin: 0 0 20px 0;
}

.dashboard-side{ position: relative; }
.dashboard-root{
    .inner-box {
        padding: 15px 20px; box-shadow: 0px 0px 15px rgba(0,0,0,0.05); border: 1px solid #eee; min-height: 400px;
        .sec-title-custom { margin-bottom: 20px; padding-top: 10px; 
            h3{ text-transform: capitalize !important; margin-bottom: 20px; }
            p { position: relative; line-height: 24px; font-size: 16px; color: rgba(0, 0, 0, .7); font-weight: 500; letter-spacing: 0.1px; }
        }
    }
}

.panel.panel-white{
    padding: 0; margin: 0 0 20px 0; position: relative;
    .panel-header{
        padding: 12px 15px; margin: 0; position: relative; background-color: #fafafa; border: 1px solid #ddd; border-bottom-width: 0px; border-radius: 4px 4px 0 0;
        h3{ font-size: 18px; color: #000; font-weight: 500; }
    }
    .panel-body{ border-bottom: 1px solid #ddd; }
}

.panel.panel-white-custom{
    border: 1px solid #ddd; border-radius: 4px 4px 0 0;
    .panel-header{  border-radius: 4px 4px 0 0;
        border-width: 0 0 1px 0;
    }
    .panel-body{ padding: 15px; }
}

.table-custom{
    margin: 0;
    thead th { padding: 12px 15px; border-bottom-width: 1px; color: #000; font-size: 14px; }
    td, th { vertical-align: middle; }
    td { padding: 10px 15px; color: #333;   
        p{ margin: 0; font-size: 16px; }
    }
    tbody th { color: #000; }
}

.action-btn{ 
    .btn { padding: 7px 15px; font-size: 14px; font-weight: 700; margin: 0 2px; }
    .btn.btn-continue { background: #B28D5C; border: 1px solid #B28D5C;  }   
    .btn-add:hover{ background: #a28154;  }   
}

.panel-form-div{
    padding: 0; margin: 0; position: relative;
    .join-group { display: flex; 
        .form-control { border-radius: 3px 0 0 3px !important; }
        .btn{ border-radius: 0 3px 3px 0 !important; padding: 5px 20px;  min-height: 46px;
            &:hover, &:focus{
                box-shadow: none; outline: none;
            }
        }
    }
    .btn.btn-success { background-color: #b28d5c; border-color: #b28d5c; 
        &:hover, &:focus{
            box-shadow: none; outline: none;
        }
    }
    .form-group label { display: block; margin: 0 0 5px 0; }
    .error-div { color: #dc3644; }  
}


.payment-content-side{
    
}

.general-form .form-control[type="number"]::-webkit-outer-spin-button,
.general-form .form-control[type="number"]::-webkit-inner-spin-button { -webkit-appearance: none; }
.general-form .form-control[type="number"] { -moz-appearance: textfield; }

.payment-form-div{
    .address p {
        margin: 0 0 10px 0;
        color: #000;
        font-weight: 600;
    }
    .grid-6 {
        width: 50%;
        padding: 0 10px;
    }
    .join-select-group.row-div {
        margin: 0 -10px;
    }

    .card-list{
        padding: 0 0 10px 0; margin: 0 0 10px 0; position: relative; border-bottom: 1px solid #eee;
        ul {
            display: flex; flex-wrap: wrap;
            li{     padding-right: 5px;
                margin: 0 0 10px 0; }
            img.efCardTypeImg {
                width: 55px;
                height: 55px;
                object-fit: contain;
                object-position: center;
                border-radius: 4px;
            }
        }
    }

    .img-view-demo{
        padding: 10px 0; margin: 0; position: relative;
        .img-fluid {
            width: 150px;
            border-radius: 12px;
            border: 2px solid #fafafa;
        }
    }

    .radio-group-row {
        padding: 0;
        margin: 10px 0 30px 0;
        position: relative;
    }

}

.content-common-div {
    margin: 0px;
    padding: 0px;
    position: relative;
    h4 {
        position: relative;
        color: #000000;
        font-weight: 600;
        line-height: 1.4em;
        margin: 5px 0 10px 0;
    }
    ul{
        padding: 0;
        
        li{
            position: relative;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 5px;
        }
    }
    .view-prag-text {
        margin: 20px 0 20px 0;
        position: relative;
        border: 1px solid #eee;
        padding: 15px 20px 10px 20px;
        width: 50%;
        background-color: #fafafa;
        border-radius: 6px;
        p {
            margin: 0;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 10px;
        }
        span.font-bold{ font-weight: 700; color: #000; }
    }
   
}

.powered-div {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #eee;
    padding: 20px 15px;
    p { margin: 0 0 5px 0; }
}

.min-width-100{ min-width: 115px; }
.min-width-80{ min-width: 80px; }
.width-200{ width: 200px; }
.width-320{ width: 320px; }

.form-control.quantity-input {
    width: 80px;
    text-align: center;
}
.panel-white-change1{
    .service-block-disc {
        max-width: 250px;
        min-width: 220px;
    }
    .table-custom td.service-text {
        max-width: 230px;
        p {
            line-height: 24px;
            font-size: 14px;
        }
    }
    .title-text {
        font-size: 14px;
        color: #000;
        line-height: 24px;
    }
    .link-div {
        margin: 5px 0 0 0;
        a.btn {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.1px;
            outline: none;
            box-shadow: none;
            &:hover{
                color: #000;
            }
        }
    }
   
    
    .table-custom td, .table-custom th {
        padding: 10px 10px;
    }

    .table-custom-color1{
        td.service-text {
            max-width: 180px;
        }
        .service-block-disc {
            max-width: 170px;
            min-width: 170px;
        }
        thead th {
            background-color: #b28c5c;
            border-color: #9c8a74;
            color: #ffffff;
        }
    }

}

.panel-custom-box-color{
    
    .content-common-div2 {
        margin: 20px 0 20px 0;
        position: relative;
        border: 1px solid #eee;
        padding: 25px 20px 25px 20px;
        width: 100%;
        background-color: #fafafa;
        border-radius: 0;
        .view-prag-text {
            margin: 0 0 20px 0;
            border: none;
            padding: 0;
            width: 100%;
            span.text {
                min-width: 60px;
                display: inline-block;
            }
        }
        label.custom-control-label {
            font-size: 16px;
            color: #666;
        }
    }
    .btn-row {
        margin: 30px 0 0 0;
    }
    .btn-checkout {
        position: relative;
        padding: 10px 30px 10px 30px;
        line-height: 24px;
        background-color: transparent;
        color: #b78b4b;
        font-size: 18px;
        font-weight: 600;
        border-radius: 4px;
        border: 1px solid #b78b4b;
        text-transform: capitalize;
        font-family: 'Muli', sans-serif;
        &:hover{
            background-color: #b78b4b;
            color: #fff;
        }
    }
}

.modal-custom{
    .modal-header { position: relative;    padding: 1rem 3rem 1rem 1rem; }
    h1.modal-title { font-size: 21px; color: #000; font-weight: 500; }
    .close.close-modal { color: #000; opacity: 1; position: absolute; top: 30px; right: 35px; padding: 0; font-weight: 400; font-size: 30px; }

    h3 { color: #000; font-size: 21px; margin: 0 0 10px 0; }
    p { color: #333; font-size: 14px; line-height: 24px; }

    ul { padding: 0; padding-left: 20px;
        li { list-style: circle;  list-style-position: outside; position: relative; font-size: 16px; line-height: 24px; margin-bottom: 10px; }
    }

}

/**/

tr.total-row td.font-bold {
    font-weight: 800;
    background-color: #fafafa;
}

/* End of  */


.name-check-section{
    padding: 100px 0; background-color: #fafafa;

    .name-check-div { max-width: 50%; margin: 0 auto; }

    .name-message-box {
        position: relative; border-radius: 10px; box-shadow: 0px 0px 15px rgba(0,0,0,0.15); margin: 0 auto; width: 100%; padding: 50px; background-color: #fff;
        .icon-box {
            margin: 0 auto 20px auto; width: 80px; height: 80px; color: #ffffff; font-size: 24px; line-height: 40px; text-align: center; background-color: #fafafa; display: flex; align-items: center; justify-content: center; border: 2px solid #18cc3c;
            border-radius: 100px;
            span.material-icons { font-size: 48px; color: #18cc3c; }
        }
        h2.h2-name-check { font-size: 24px; position: relative; color: #000000; font-weight: 700; line-height: 1.3em; padding-bottom: 20px; text-align: center; }
        p{ margin-bottom: 20px; font-size: 16px; line-height: 24px; text-align: center; color: #000; }
        p.pack-overview-text { margin-bottom: 20px; font-size: 20px; line-height: 24px; text-align: center; color: #000; }
        .continue-block { display: flex; flex-direction: column; margin: 40px 0 0 0; }
        .btn-row { display: flex; align-items: center; justify-content: center; margin: 20px 0 0 0; }
        a.search-again { font-size: 21px; line-height: 32px; }
        .btn.btn-success.continue-nc { font-size: 16px; text-transform: uppercase; font-weight: 600; }
        .title-span { font-weight: 700; }
    }

    .check-message-box span.h2-text {
        color: #18cc3c;
    }

    .un-check-message-box{ 
        span.h2-text { color: #f00; }
        .icon-box {
            border: 2px solid #f00;
            span.material-icons {
                color: #f00;
            }
        }
        
    }

}


// payment tab

.payment-tabs{
    border: 0;
    ul {
        border: 0;
        margin-bottom: 20px;
        border-radius: 4px;
        li {
            border: 2px solid #9a7f59;
            display: flex;
            height: 100%;
            
            a {
                padding: 10px 30px;
                color: #9a7f59;
            &.active {
                background-color: #9a7f59;
             
                color: #ffffff;
                transition: all 0.3s ease-in-out;
            }
            }
            
        }
    }
}

.tab-payment{
    a.btn-link {
        padding:  5px 0;
    }
    .btn-style-eight{
        color: #B28D5C !important;
        &:hover{
            color: #ffffff !important;
        }
    }
}


.modal {

    .btn-add {
        padding: 4px 6px;
        background-color: #9a7f59;
        color: #ffffff;
        font-size: 14px;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #a28154;
        }
    }
    .add-liting{
        margin-bottom: 20px;
        .address{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fafafa;
            padding: 10px;
            p {
                margin-bottom: 0;
            }

            // .btn-add {
            //         padding: 4px 6px;
            //         background-color: #9a7f59;
            //         color: #ffffff;
            //         font-size: 14px;
            //         transition: all 0.3s ease-in-out;
                
            // }
        }

       
    }
}


.efPaymentOptionWrapper label {
    background-color: #eee;
    transition: all ease-in-out .2s;
    display: block;
}

.efPaymentMethod {
    padding: 20px;
    margin-bottom: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 7px rgba(0,0,0,.06);
}

.efPaymentCardSvg {
    height: 27px;
    margin-right: 10px;
    margin-bottom: -7px;
}
.efPaymentOptionWrapper input {
    display: none;
}
.efPaymentOptionText{
    color: #000000;
}
.efPaymentOptionWrapper input[type=radio]:checked+label {
    background-color: #bbb;
    box-shadow: 0 2px 7px rgba(0,0,0,.2);
}

.efPreviousCardWrapper{
    padding: 20px 0;
    .efPreviousCardTitleWrapper{
        h2 {
            font-size: 26px;
            line-height: 34px;
            font-weight: bold;
            color: #000000;
            margin-bottom: 20px;
        }
    }
    .efPreviousCardNameWrapper {
        label {
            color: #000000;
            width: 180px;
        }
        span {
            margin-bottom: 10px;
            font-size: 16px;
            color: #000000;
        }
    }

    .efPreviousCardAmountWrapper {
        label {
            color: #000000;
            width: 180px;
        }
        span {
            margin-bottom: 10px;
            font-size: 16px;
            color: #000000;
        }
    }

    .btn.btn-continue {
        background: #B28D5C;
        border: 1px solid #B28D5C;
        box-shadow: none !important; 
        outline: 0;
        &:hover {
            background: #a97632;
        border: 1px solid #a97632;
        }
    }
}

@media only screen and (min-width: 1025px) {
    
    .main-menu .navigation > li { margin-right: 20px; }
    .main-menu .navigation > li > a{ font-size: 15px; }
    .main-menu .navigation > li > ul > li > a{ font-size: 15px; }

}

/***  End of Design change   ****/

@media only screen and (max-width: 767px) {

    .header-style-four .nav-outer .main-menu {
        margin-top: 4px;
    }

    .header-style-four .main-menu .navigation > li > a {
        color: #fff;
    }

    .main-menu .navbar-collapse > .navigation > li > ul > li > a {
        color: #000;
        background: #fff;
    }

    .search-box {
        width: 100%;
    }
    .btn-search{
        right: -10px;
    }

    .grid-20 { flex: 0 0 100%; max-width: 100%; }

    .packages-section {
        .packages-box {
            h3 { min-height: auto; }
            .desc-list {
                min-height: auto;
            }
        }
    }

    .steps-section {
        .step-box {
            &::before {
                display: none;
            }
        }
    }
    
    .accordion-faq {
        .accordion {
            .card {
                .card-header {
                    h2 {
                        .btn-link {
                            font-size: 16px;
                            
                        }
                    }
                }
                .card-body {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    
    .page-title.mt-80 {
        margin-top: 0;
    }

    /* 22-04-2020 **/
    /***  Design change  ****/

    .general-content-section .blog-single { margin: 0 -15px; }

    .panel-form-div {
        .join-group {
            flex-direction: column;
            .form-control { border-radius: 3px 3px 0 0px !important; }
            .btn {     border-radius: 0px 0px 3px 3px !important;
                font-size: 16px;
                min-height: 38px; }
        }
         .btn.btn-success {
            font-size: 15px;
        }
    }


    .table-custom {
        thead {
            th {
                vertical-align: middle;
                min-width: 140px;
                &:first-child{
                    min-width: 100px;
                }
            }
        }
        td {
            p {
                font-size: 14px;
            }
        }
        .action-btn {
            display: flex;
        }
    }
    .sidebar-side.sidebar-dashboard-side {
        margin: 0;
    }
    .dashboard-root {
        .inner-box {
            .sec-title-custom {
                h3 {
                    line-height: 28px;
                    font-size: 21px;
                    
                }
                p {
                    line-height: 22px;
                    font-size: 14px;
                    
                }
            }
        }
    }

    .panel.panel-white {
        .panel-header {
            h3 {
                font-size: 16px;
            }
        }
    }
        
    .content-common-div .view-prag-text {
        width: 100%;
    }

    .table-custom thead th.quantity-th-width {
        min-width: 40px;
        text-align: center;
    }
   
    .table-custom thead th.mobile-xs-width-50{
        min-width: 50px;
    }

    .table-custom thead th.mobile-xs-width-200{
        min-width: 200px;
    }

    .name-check-section .name-check-div { max-width: 100%; }
    .name-check-section .name-message-box { padding: 50px 20px; }
    .name-check-section .name-message-box h2.h2-name-check { font-size: 20px;}
    .name-check-section .name-message-box p.pack-overview-text { font-size: 18px; line-height: 28px; }
    .name-check-section .name-message-box a.search-again { font-size: 18px; line-height: 28px; }

    /*** End of Design change  ****/

  

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
    .grid-20 { flex: 0 0 33.3%; max-width: 33.3%; }

    .packages-section {
        .packages-box {
            .row {
                justify-content: center;
            }
        }
    }

    .main-slider h1.style-two {
        font-size: 42px;
    }

    .search-box .form-control { background-color: #fff; }

    .steps-section {
        .step-box {
            &::before {
                left: 146px;
                top: 68px;
                width: 90px;
            }
            .step-number {
                width: 60px;
                height: 60px;
                padding: 8px;
                font-size: 24px;
            }
            .step-p {
                font-size: 18px;
                line-height: 26px;
            }
            .text-desc {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    
    .accordion-faq {
        .accordion {
            .card {
                .card-header {
                    h2 {
                        .btn-link {
                            font-size: 14px;
                            line-height: 20px;
                            padding: 18px 20px 15px 74px;
                        }
                    }
                }
                .card-body {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    
    /* 22-04-2020 **/
    /***  Design change  ****/

    .header-style-four .main-menu .navigation > li > a { color: #000000; padding: 10px 0px; }
    .page-title.mt-80 { margin-top: 10px; }
    .main-menu .navigation > li > a { font-size: 12px; }
    .main-menu .navigation > li { margin-right: 20px; }
    .main-header .nav-outer { position: relative; float: left; margin-top: 0px; }
    .header-style-four .header-lower .logo-box { position: relative; width: 100%; display: flex; justify-content: center; border-bottom: 1px solid #fafafa; }

    .page-title .content h1{ font-size: 36px; }
    /*** End of Design change  ****/

    .name-check-section .name-check-div { max-width: 70%; }
    .name-check-section .name-message-box { padding: 50px 40px; }
    .name-check-section .name-message-box h2.h2-name-check { font-size: 20px;}
    .name-check-section .name-message-box p.pack-overview-text { font-size: 18px; line-height: 28px; }
    .name-check-section .name-message-box a.search-again { font-size: 18px; line-height: 28px; }

}
  
@media only screen and (min-width: 1025px) and (max-width: 1440px) {


    
}



// aakhil


